@keyframes show-header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 365px;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #4A4A4A;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.swiper-button-next,
.swiper-button-prev {
  border: none;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: all 0.3s;
  top: 45.5%;
}
.swiper-button-next svg path,
.swiper-button-prev svg path {
  transition: all 0.3s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #91C137 !important;
}
.swiper-button-next:hover svg path,
.swiper-button-prev:hover svg path {
  stroke: #ffffff;
}
.swiper-button-next:hover svg .cust,
.swiper-button-prev:hover svg .cust {
  stroke: none;
  fill: #ffffff;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
@media (max-width: 650px) {
  .swiper-button-next,
.swiper-button-prev {
    width: 60px;
    height: 60px;
  }
}

.swiper-button-disabled {
  opacity: 0 !important;
}

.wrap {
  max-width: 1408px;
  padding: 0 48px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrap {
    padding: 0 40px;
  }
}
@media (max-width: 650px) {
  .wrap {
    padding: 0 20px;
  }
}

.btn {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 32px 40px;
  min-height: 83px;
  background-color: #91C137;
  text-transform: uppercase;
  transition: all 0.3s;
  color: #ffffff;
  cursor: pointer;
  max-width: max-content;
  border-radius: 40px;
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.7), inset 0px 4px 24px rgba(255, 255, 255, 0.4), 0 3px 0 #6D912B;
  transform: translateY(-3px);
  border: none;
}
.btn:hover {
  background: #0580F2;
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.7), inset 0px 4px 24px rgba(255, 255, 255, 0.4), 0 3px 0 #0466C2;
  color: #ffffff;
}
.btn:active {
  text-decoration: none;
  transform: translateY(-1px);
  background-color: #0466C2;
  box-shadow: 0 1px 0 #0466C2;
  color: #ffffff;
}

@media (max-width: 650px) {
  .btn {
    padding: 23px 40px;
    min-height: 63px;
  }
}
.menu-icon {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 14px;
}

.menu-icon span {
  margin: 0 auto;
  position: relative;
  top: 6px;
}

.menu-icon span:before,
.menu-icon span:after {
  position: absolute;
  content: "";
}

.menu-icon span,
.menu-icon span:before,
.menu-icon span:after {
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  display: block;
}

.menu-icon span:before {
  margin-top: -6px;
}

.menu-icon span:after {
  margin-top: 6px;
}

.menu-icon span {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.menu-icon span:before {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.menu-icon span:after {
  -webkit-transition-property: margin, -webkit-transform;
  transition-property: margin, transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.section-head__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #91C137;
  display: block;
  margin: 0;
  margin-bottom: 10px;
}
.section-head__title {
  font-weight: 250;
  font-size: 64px;
  line-height: 1.12;
  color: #374818;
  margin: 0;
  margin-bottom: 25px;
}
.section-head--border {
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.section-head--border .section-head__title {
  margin-bottom: 0 !important;
}
.section-head--border::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #DFDFDF;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 1440px) {
  .section-head__title {
    font-size: 56px;
  }
}
@media (max-width: 650px) {
  .section-head__title {
    font-size: 32px;
  }
  .section-head__subtitle {
    font-size: 14px;
  }
  .section-head--border {
    padding-bottom: 19px;
    margin-bottom: 26px;
  }
}

.section-footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 32px;
  align-items: center;
}
.section-footer p {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 250;
  font-size: 24px;
  line-height: 1.33;
  text-align: right;
  color: #374818;
  margin: 0;
}
@media (max-width: 720px) {
  .section-footer {
    display: none;
  }
}

.header {
  background-color: #fff;
  color: #4A4A4A;
  padding: 10px 0 14px;
  animation-name: show-header;
  animation-duration: 0.4s;
  position: fixed;
  width: 100%;
  transition: all 0.3s;
  top: 0;
  z-index: 100;
  border: 1px solid transparent;
}
.header__wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__logo {
  width: 88px;
  position: relative;
}
.header__logo-link {
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  padding: 8px;
  position: absolute;
  top: -22px;
  left: 0;
  text-decoration: none;
  z-index: 5;
}
.header__logo-link::after {
  content: "";
  width: 90px;
  height: 90px;
  display: block;
  position: absolute;
  z-index: 0;
  top: -1px;
  left: -1px;
  border-radius: 50%;
  background: transparent;
  transition: all 0.2s;
}
.header__logo-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 5;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu {
  flex-grow: 2;
  margin-left: 10px;
}
.header__tel {
  color: #374818;
  transition: all 0.3s;
  max-width: 152px;
  width: 100%;
  text-align: right;
}
.header__btn {
  max-width: 145px;
  width: 100%;
}
.header__btn .btn {
  font-family: "Inter", sans-serif;
  width: 100%;
  font-size: 14px;
  color: #91C137;
  padding: 8px 14px;
  background-color: #FFFFFF;
  border: 1px solid #91C137;
  box-shadow: none;
  border-radius: 16px;
  text-transform: lowercase;
  transition: all 0.3s;
  min-height: 32px;
  transform: none;
}
.header__btn .btn:hover {
  background-color: #91C137;
  color: #ffffff;
}
.header__menu-btn {
  display: none;
}
@media (max-width: 1300px) {
  .header {
    padding: 12px 0 12px;
  }
  .header__wrap {
    padding: 0 48px;
  }
  .header__menu {
    display: none;
  }
  .header__tel {
    margin-left: auto;
  }
  .header__menu-btn {
    display: block;
  }
  .header__menu-btn .btn--menu {
    font-family: "Inter", sans-serif;
    min-height: 32px;
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 14px;
    text-transform: lowercase;
    padding: 8px 16px;
    box-shadow: none;
    transform: none;
    border: none;
  }
  .header__menu-btn .btn--menu:hover {
    background-color: #91C137;
    border-color: #91C137;
  }
}
@media (max-width: 768px) {
  .header__wrap {
    padding: 0 40px;
  }
}
@media (max-width: 650px) {
  .header__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header__btn {
    display: none;
  }
  .header__logo {
    width: 60px;
  }
  .header__logo-link {
    width: 60px;
    height: 60px;
    top: -24px;
    left: -6px;
  }
  .header__logo-wrapper {
    width: 60px;
    height: 60px;
    padding: 5px;
  }
  .header__logo svg {
    width: 50px;
    height: 50px;
  }
  .header__logo-link::after {
    width: 62px;
    height: 62px;
  }
}
@media (max-width: 360px) {
  .header__tel {
    display: none;
  }
  .header__menu-btn {
    margin-left: auto;
  }
}

.menu__list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.menu__link {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #4A4A4A;
  transition: all 0.3s;
  position: relative;
  padding-bottom: 20px;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #91C137;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.menu__link:hover {
  color: #91C137;
}
.menu__link:hover::before {
  transform: scaleX(1);
}

.mobile-menu {
  background-color: #fff;
  color: #4A4A4A;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding-top: 210px;
  position: fixed;
  margin-left: -100%;
  transition: all 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
}
.mobile-menu__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 30px 48px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #4A4A4A;
  position: relative;
}
.mobile-menu__link:after {
  content: "";
  display: block;
  width: calc(100% - 48px - 48px);
  height: 1px;
  background-color: #DFDFDF;
  position: absolute;
  bottom: 0;
  left: 48px;
  margin: 0 auto;
}
.mobile-menu__link span {
  width: calc(100% - 6px - 32px);
}
.mobile-menu__link svg {
  pointer-events: none;
  width: 32px;
  transition: all 0.3s;
}
.mobile-menu__link svg path {
  transition: all 0.3s;
}
.mobile-menu__link:hover, .mobile-menu__link:active, .mobile-menu__link:focus {
  background-color: #91C137;
  color: #ffffff;
}
.mobile-menu__link:hover:after, .mobile-menu__link:active:after, .mobile-menu__link:focus:after {
  display: none;
}
.mobile-menu__link:hover svg, .mobile-menu__link:active svg, .mobile-menu__link:focus svg {
  transform: rotate(90deg);
}
.mobile-menu__link:hover svg path, .mobile-menu__link:active svg path, .mobile-menu__link:focus svg path {
  fill: #ffffff;
}
.mobile-menu__link:hover svg .cust, .mobile-menu__link:active svg .cust, .mobile-menu__link:focus svg .cust {
  fill: none;
  stroke: #ffffff;
}
.mobile-menu__item:last-of-type .mobile-menu__link:after {
  display: none;
}
.mobile-menu__footer {
  display: none;
}
@media (max-width: 768px) {
  .mobile-menu__link {
    padding: 30px 40px;
  }
  .mobile-menu__link::after {
    width: calc(100% - 80px);
    left: 40px;
  }
}
@media (max-width: 650px) {
  .mobile-menu {
    padding-top: 55px;
    min-width: 365px;
  }
  .mobile-menu__link {
    font-size: 16px;
    padding: 24px 20px;
  }
  .mobile-menu__link::after {
    width: calc(100% - 40px);
    left: 20px;
  }
  .mobile-menu__footer {
    margin: 40px 0;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
  }
  .mobile-menu__btn .btn {
    background-color: #ffffff;
    color: #91C137;
    box-shadow: none;
    transition: all 0.3s;
    border-color: #91C137;
  }
  .mobile-menu__btn .btn:hover {
    background-color: #91C137;
    color: #fff;
    border-color: #91C137;
  }
  .mobile-menu__tel a {
    font-size: 20px;
  }
}

.main {
  padding: 0 30px;
  background-color: #fff;
}
@media (max-width: 1440px) {
  .main {
    padding: 0;
  }
}

.first {
  background-color: #FBFAF8;
  background-image: url(../img/bg-1.jpg);
  background-position: top 50px center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  padding: 70px 0;
  max-height: 100vh;
  height: 100%;
  min-height: 768px;
  top: 20px;
  padding-bottom: 0;
}
.first .wrap {
  display: flex;
  position: relative;
  align-items: center;
}
.first .swiper-button-next {
  right: -2px;
  left: auto;
  top: 47.5%;
}
.first__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 50%;
  width: 100%;
  flex-shrink: 0;
}
.first__slider {
  max-width: 50%;
  width: 100%;
}
.first__slider .swiper {
  overflow: initial;
}
.first__slider img {
  width: 862px;
  max-width: initial;
  transform: translateX(-127px);
}
.first__text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #4A4A4A;
  opacity: 0.7;
  margin: 0;
  margin-bottom: 37px;
}
@media (max-width: 1300px) {
  .first {
    background-position: top -30px center;
    max-height: initial;
    height: initial;
    min-height: initial;
  }
  .first .wrap {
    padding: 0 48px;
  }
  .first .section-head__subtitle {
    margin-bottom: 2px;
  }
  .first .section-head__title {
    font-size: 56px;
  }
  .first__text {
    font-size: 16px;
    margin-bottom: 26px;
  }
  .first__slider img {
    width: 528px;
    transform: translate(-65px, -20px);
  }
  .first .swiper-button-next {
    top: 47%;
  }
}
@media (max-width: 960px) {
  .first {
    max-height: initial;
    height: initial;
    min-height: initial;
  }
  .first .wrap {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 0 40px;
  }
  .first__content {
    max-width: 100%;
    margin-top: -67px;
  }
  .first__slider {
    max-width: 100%;
  }
  .first__slider img {
    width: 100%;
    transform: none;
    max-width: 591px;
  }
  .first__slider .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .first {
    background-position: top -30px center;
  }
  .first .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .first .section-head__subtitle {
    font-size: 14px;
  }
  .first .section-head__title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .first__text {
    font-size: 14px;
  }
}

.catalog {
  padding: 70px 0;
  background-color: #FBFAF8;
  overflow: hidden;
}
.catalog .section-head {
  margin-bottom: 40px;
}
.catalog .swiper {
  overflow: visible;
}
.catalog__item {
  background: #FFFFFF;
  border-radius: 40px;
  display: block;
  padding: 32px;
  padding-bottom: 23px;
  position: relative;
}
.catalog__item a {
  display: flex;
  z-index: 2;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.catalog__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0.0625rem solid rgba(var(--color-black-rgb), 0.1);
  background-color: #ffffff;
  border-radius: 40px;
  transition-property: left, top, width, height, border-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.catalog__item img {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  max-width: 173px;
  max-height: 173px;
  object-fit: cover;
}
.catalog__item:hover::before {
  left: -8px;
  top: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border-color: #ffffff;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
}
.catalog__item-name {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4A4A4A;
  margin: 0;
}
@media (max-width: 1440px) {
  .catalog .swiper-button-prev {
    left: -32px;
    background-color: #fbfaf8;
  }
  .catalog .swiper-button-next {
    right: -32px;
    background-color: #fbfaf8;
  }
}
@media (max-width: 768px) {
  .catalog {
    padding: 55px 0 60px;
  }
}

.advantages {
  padding: 70px 0;
  background-color: #FBFAF8;
}
.advantages__list .list-reset {
  display: grid;
  gap: 48px 32px;
  grid-template-columns: 1fr 1fr 1fr;
}
.advantages__item svg {
  display: block;
  max-width: 80px;
  margin-bottom: 33px;
}
.advantages__item svg path {
  stroke: #91C137;
  transition: all 0.3s;
}
.advantages__item span {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #374818;
  display: block;
  margin: 0;
  margin-bottom: 13px;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}
.advantages__item span::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  background-color: #DFDFDF;
  position: absolute;
  left: 0;
  bottom: 0;
}
.advantages__item p {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #4A4A4A;
  opacity: 0.7;
}
.advantages__item:hover svg {
  display: block;
  max-width: 80px;
  margin-bottom: 33px;
}
.advantages__item:hover svg path {
  stroke: #0580F2;
  transition: all 0.3s;
}
@media (max-width: 1200px) {
  .advantages .advantages__list .list-reset {
    gap: 54px 32px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .advantages .advantages__list .list-reset {
    gap: 54px;
    grid-template-columns: 1fr;
  }
}

.collaboration {
  padding: 120px 0 125px;
  background-color: #FFD22F;
  color: #374818;
  position: relative;
  overflow: hidden;
}
.collaboration .section-head--border::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.collaboration .section-head__subtitle {
  color: #FFFFFF;
  margin: 0;
}
.collaboration .section-head__title {
  font-size: 56px;
  line-height: 1.14;
  color: #374818;
}
.collaboration__content {
  max-width: 640px;
  position: relative;
  z-index: 2;
}
.collaboration__image {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  max-height: 100%;
}
.collaboration__image img {
  display: block;
  object-fit: cover;
  max-height: 100%;
  height: 100%;
}
@media (max-width: 1816px) {
  .collaboration__image {
    right: -10%;
  }
}
@media (max-width: 1536px) {
  .collaboration__image {
    right: -16%;
  }
}
@media (max-width: 1360px) {
  .collaboration__image {
    right: -24%;
  }
}
@media (max-width: 1275px) {
  .collaboration {
    padding: 77px 0 70px;
  }
  .collaboration__image {
    right: -24%;
    max-height: 665px;
  }
  .collaboration__content {
    max-width: 450px;
  }
  .collaboration .section-head__title br {
    display: none;
  }
}
@media (max-width: 1130px) {
  .collaboration__image {
    right: -29%;
  }
}
@media (max-width: 950px) {
  .collaboration {
    padding-bottom: 0;
  }
  .collaboration__content {
    max-width: 100%;
  }
  .collaboration__image {
    position: relative;
    right: -12%;
    height: 513px;
  }
}
@media (max-width: 768px) {
  .collaboration {
    padding: 55px 0 0;
  }
}

.form {
  display: flex;
  gap: 36px 40px;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.form__item {
  position: relative;
  border-radius: 40px;
  width: 296px;
}
.form__item input {
  font-family: "Inter", sans-serif;
  background: #FFFFFF;
  box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  border: none;
  height: 72px;
  padding: 24px 30px;
  width: 100%;
}
.form__item--border input {
  outline: 1px solid #ffffff !important;
  outline-offset: 4px !important;
  transition: all 0.3s;
}
.form__item--border input:hover {
  outline: 1px solid #9B8D24 !important;
}
.form__item--border input:active, .form__item--border input:focus {
  outline: 1px solid #374818 !important;
}
.form__item--btn {
  width: 258px;
}
.form__item--checkbox {
  text-align: left;
  padding-left: 48px;
}
.form__item--icon {
  display: flex;
  align-items: center;
}
.form__item--icon input {
  padding-left: 72px;
}
.form__item--icon svg {
  position: absolute;
  left: 29px;
}
.form__item--icon svg path {
  transition: all 0.3s;
  fill: #4A4A4A;
  opacity: 0.2;
}
.form__item input:active,
.form__item input:focus {
  color: #000000;
}
.form__item input:active + svg path,
.form__item input:focus + svg path {
  fill: #91C137;
  opacity: 1;
}
.form__politic {
  font-family: "Inter", sans-serif;
  text-align: left;
  color: #807341;
  text-decoration: none;
  font-size: 16px;
}
.form__politic a {
  display: block;
  border-bottom: 1px solid;
  max-width: max-content;
  transition: all 0.3s;
  border-color: #4A4A4A;
  color: #4A4A4A;
}
.form__politic a:hover {
  border-color: #0580F2;
  color: #0580F2;
}
.form__item--checkbox input[type=checkbox] + .form__politic::before {
  content: "";
  background-image: url(../img/icon-checkbox.svg);
  position: absolute;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  outline: 1px solid !important;
  outline-color: #FFDF6C !important;
  outline-offset: 3px !important;
  transition: all 0.3s;
  border-radius: 2px;
  cursor: pointer;
}
.form__item--checkbox input[type=checkbox]:hover + .form__politic::before {
  outline-color: #AF9B26 !important;
}
.form__item--checkbox input[type=checkbox]:checked + .form__politic::before {
  background-image: url(../img/icon-checkbox-on.svg);
  outline-color: #FFDF6D !important;
}
@media (max-width: 1275px) {
  .form__item {
    width: 100%;
  }
  .form__item--btn {
    order: 10;
  }
  .form__politic a {
    display: initial;
  }
}
@media (max-width: 950px) {
  .form {
    gap: 40px 32px;
    align-items: center;
  }
  .form__item--checkbox {
    flex-basis: calc(50% - 16px);
    flex-grow: 2;
  }
  .form__item--btn {
    width: 258px;
    order: initial;
  }
}

.steps {
  padding: 77px 0;
  background-color: #FBFAF8;
}
.steps_list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 42px;
}
.steps__item {
  width: calc(24% - 11px);
  position: relative;
  display: flex;
  align-items: center;
}
.steps__item::after {
  content: "";
  background-image: url(../img/icon-plus.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  right: 5%;
  display: block;
  transition: all 0.3s;
  transform-origin: center;
}
.steps__item:last-of-type::after {
  display: none;
}
.steps__num {
  height: 80px;
  width: 80px;
  background: #0580F2;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.7), inset 0px 4px 24px rgba(255, 255, 255, 0.4), 0 3px 0 #0466c2;
  margin-bottom: 18px;
  transition: all 0.3s;
}
.steps__num span {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.steps__num .big {
  display: block;
  font-size: 32px;
  margin-bottom: 7px;
}
.steps__text {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #4A4A4A;
  margin: 0;
  margin-bottom: 13px;
  padding-bottom: 19px;
  position: relative;
}
.steps__text::after {
  content: "";
  display: block;
  width: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #DFDFDF;
}
.steps__number {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #4A4A4A;
  opacity: 0.7;
  margin: 0;
}
.steps__item:hover::after {
  background-image: url(../img/icon-plus-active.svg);
  width: 40px;
  height: 40px;
}
.steps__item:hover .steps__num {
  background: #91C137;
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.7), inset 0px 4px 24px rgba(255, 255, 255, 0.4), 0 3px 0 #6d912b;
}
@media (max-width: 1460px) {
  .steps__item {
    width: calc(24% - 15px);
    /* &::after {
      right: -5%;
    } */
  }
}
@media (max-width: 1024px) {
  .steps__item::after {
    right: -5%;
  }
}
@media (max-width: 1000px) {
  .steps__item {
    width: calc(50% - 16px);
  }
  .steps__item::after {
    right: 15%;
  }
  .steps__item:nth-child(2n)::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .steps {
    padding: 55px 0 60px;
  }
  .steps__item::after {
    right: 5%;
  }
}
@media (max-width: 650px) {
  .steps__item {
    width: 100%;
    flex-direction: column;
    gap: 32px;
  }
  .steps__item::after {
    right: auto;
    bottom: 0;
    position: initial;
  }
  .steps__num {
    margin: 0;
  }
  .steps__item-wrap {
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: flex-start;
  }
  .steps__item:nth-child(2n)::after {
    display: block;
  }
  .steps__item:last-child::after {
    display: none;
  }
  .steps__text {
    margin-bottom: 11px;
    padding-bottom: 15px;
  }
}

.marketplaces {
  padding: 77px 0;
  background-color: #EFEFEA;
}
.marketplaces__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 42px;
}
.marketplaces__item {
  background: #FFFFFF;
  border-radius: 40px;
  padding: 48px 40px 27px;
  position: relative;
}
.marketplaces__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0.0625rem solid rgba(var(--color-black-rgb), 0.1);
  background-color: #ffffff;
  border-radius: 40px;
  transition-property: left, top, width, height, border-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.marketplaces__link {
  z-index: 2;
  position: relative;
}
.marketplaces__logo {
  min-height: 32px;
  width: 112px;
  margin: 0 auto;
  margin-bottom: 37px;
}
.marketplaces__logo img {
  display: block;
  width: 100%;
  max-height: 32px;
  object-fit: cover;
}
.marketplaces__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #4A4A4A;
  display: block;
  transition: all 0.3s;
  margin: 0;
}
.marketplaces__item:hover::before {
  left: -8px;
  top: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  border-color: #ffffff;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
}
.marketplaces__item:hover .marketplaces__text {
  color: #0580F2;
}
@media (max-width: 1470px) {
  .marketplaces__list {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
  .marketplaces__item {
    padding: 48px 32px 27px;
  }
}
@media (max-width: 1030px) {
  .marketplaces__list {
    grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
  }
}
@media (max-width: 768px) {
  .marketplaces {
    padding: 55px 0 60px;
  }
  .marketplaces__item {
    padding: 30px 30px 25px;
  }
}

.footer {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 37px 0 43px;
}
.footer .wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 24px 16px;
}
.footer p {
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
.footer__cop {
  max-width: 365px;
  width: 100%;
}
.footer__dev {
  max-width: 275px;
  width: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__link {
  transition: all 0.3s;
  position: relative;
  padding-bottom: 5px;
}
.footer__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #0580F2;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.footer__link:hover {
  color: #0580F2;
}
.footer__link:hover::before {
  transform: scaleX(1);
}
.footer__dev-icon a {
  text-decoration: none;
}
.footer__dev-icon svg rect {
  transition: all 0.3s;
  fill: #91C137;
}
.footer__dev-icon:hover svg rect {
  fill: #0580F2;
}
@media (max-width: 740px) {
  .footer {
    padding: 23px 0 30px;
  }
  .footer .footer__cop {
    max-width: 100%;
  }
  .footer .footer__dev {
    max-width: 100%;
    flex-direction: row-reverse;
    margin: 0;
    justify-content: flex-end;
  }
}

.header-sticky .header {
  position: fixed;
  width: 100%;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
}
.header-sticky .header__logo-link {
  box-shadow: 0px 13px 20px -7px rgba(0, 0, 0, 0.2);
}

.mob-menu-open .header {
  border-bottom: 1px solid #DFDFDF;
  box-shadow: none !important;
}
.mob-menu-open .header__logo-link {
  box-shadow: none;
}
.mob-menu-open .header__logo-link::after {
  background: linear-gradient(to bottom, #fff 59%, #DFDFDF 41%);
}
.mob-menu-open .menu-icon span {
  background-color: transparent;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.mob-menu-open .menu-icon span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}
.mob-menu-open .menu-icon span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s;
  transition-delay: 0s, 0.2s;
}
.mob-menu-open .mobile-menu {
  overflow: auto;
  margin-left: 0;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  visibility: visible;
}
@media (max-width: 650px) {
  .mob-menu-open .header__logo-link::after {
    background: linear-gradient(to bottom, #fff 85%, #DFDFDF 15%);
  }
  .mob-menu-open .header__tel {
    opacity: 0;
  }
}