.wrap {
  max-width: 1392px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 14px;
  min-height: 32px;
  background-color: #91C137;
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.7), inset 0px 4px 24px rgba(255, 255, 255, 0.4);
  border: 1px solid #91C137;
  border-radius: 16px;
  text-transform: uppercase;
  transition: all 0.3s;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background: #0580F2;
    border-color: #0580F2;
  }
}

@import "menu-icon";