.wrap {
  max-width: 1392px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 32px 40px;
  min-height: 83px;
  background-color: #91C137;
  // border: 1px solid #91C137;
  text-transform: uppercase;
  transition: all 0.3s;
  color: #ffffff;
  cursor: pointer;
  max-width: max-content;
  border-radius: 40px;
  box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.7), inset 0px 4px 24px rgba(255, 255, 255, 0.4), 0 3px 0 #6D912B;
  transform: translateY(-3px);

  &:hover {
    background: #0580F2;
    // border-color: #0580F2;
    box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.7), inset 0px 4px 24px rgba(255, 255, 255, 0.4), 0 3px 0 #0466C2;
    color: #ffffff;
  }

  &:active {
    text-decoration: none;
    transform: translateY(-1px);
    background-color: #0466C2;
    box-shadow: 0 1px 0 #0466C2;
    color: #ffffff;
  }
}

.section-head {}

.section-head__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #91C137;
  display: block;
  margin: 0;
  margin-bottom: 10px;
}

.section-head__title {
  font-weight: 250;
  font-size: 64px;
  line-height: 1.12;
  color: #374818;
  margin: 0;
  margin-bottom: 25px;
}

@import "menu-icon";

