.advantages {
  padding: 70px 0;

  &__list {
    .list-reset {
      display: grid;
      gap: 48px 32px;
      grid-template-columns: 1fr 1fr 1fr;
    }

  }

  &__item {
    svg {
      display: block;
      max-width: 80px;
      margin-bottom: 33px;

      path {
        stroke: #91C137;
        transition: all 0.3s;
      }
    }

    span {
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.05em;
      color: #374818;
      display: block;
      margin: 0;
      margin-bottom: 13px;
      padding-bottom: 20px;
      position: relative;
      text-transform: uppercase;

      &::after {
        content: "";
        display: block;
        width: 80px;
        height: 1px;
        background-color: #DFDFDF;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    p {
      margin: 0;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #4A4A4A;
      opacity: 0.7;
    }

    // наведение 
    &:hover {
      svg {
        display: block;
        max-width: 80px;
        margin-bottom: 33px;

        path {
          stroke: #0580F2;
          transition: all 0.3s;
        }
      }
    }

  }

  @media (max-width: 1200px) {
    .advantages__list .list-reset {
      gap: 54px 32px;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 650px) {
    .advantages__list .list-reset {
      gap: 54px;
      grid-template-columns: 1fr;
    }
  }

}