.collaboration {
  padding: 120px 0 125px;
  background-color: #FFD22F;
  color: #374818;
  position: relative;
  overflow: hidden;

  .section-head {
    &--border::after {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &__subtitle {
      color: #FFFFFF;
      margin: 0;
    }

    &__title {
      font-size: 56px;
      line-height: 1.14;
      color: #374818;
    }
  }



  &__content {
    max-width: 640px;
    position: relative;
    z-index: 2;
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    max-height: 100%;

    img {
      display: block;
      object-fit: cover;
      max-height: 100%;
      height: 100%;
    }

  }

  @media (max-width: 1816px) {
    &__image {
      right: -10%;
    }

  }

  @media (max-width: 1536px) {
    &__image {
      right: -16%;
    }
  }

  @media (max-width: 1360px) {
    &__image {
      right: -24%;
    }
  }

  @media (max-width: 1275px) {
    padding: 77px 0 70px;
    &__image {
      right: -24%;
      max-height: 665px;
    }

    &__content {
      max-width: 450px;
    }

    .section-head__title br {
      display: none;
    }
  }

  @media (max-width: 1130px) {
    .collaboration__image {
      right: -29%;
  }
  }
  
}

.form {
  display: flex;
  gap: 36px 40px;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Inter', sans-serif;

  &__item {
    position: relative;
    border-radius: 40px;
    width: 296px;

    input {
      font-family: 'Inter', sans-serif;
      background: #FFFFFF;
      box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.15);
      border-radius: 40px;
      border: none;
      height: 72px;
      padding: 24px 30px;
      width: 100%;
    }

    &--border {


      input {
        outline: 1px solid #ffffff !important;
        outline-offset: 4px !important;
        transition: all 0.3s;

        &:hover {
          outline: 1px solid #9B8D24 !important;
        }

        &:active,
        &:focus {
          outline: 1px solid #374818 !important;
        }



      }


    }

    &--btn {
      width: 258px;
    }

    &--checkbox {
      text-align: left;
      padding-left: 48px;
    }

    &--icon {
      display: flex;
      align-items: center;

      input {
        padding-left: 72px;
      }

      svg {
        position: absolute;
        left: 29px;

        path {
          transition: all 0.3s;
          fill: #4A4A4A;
          opacity: 0.2;
        }
      }
    }

    input:active,
    input:focus {
      color: #000000;

      &+svg {
        path {
          fill: #91C137;
          opacity: 1;
        }
      }
    }
  }

  &__politic {
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: #807341;
    text-decoration: none;
    font-size: 16px;

    a {
      display: block;
      border-bottom: 1px solid;
      max-width: max-content;
      transition: all 0.3s;
      border-color: #4A4A4A;
      color: #4A4A4A;

      &:hover {
        border-color: #0580F2;
        color: #0580F2;
      }
    }
  }

  &__item--checkbox input[type=checkbox]+&__politic::before {
    content: "";
    background-image: url(../img/icon-checkbox.svg);
    position: absolute;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    outline: 1px solid !important;
    outline-color: #FFDF6C !important;
    outline-offset: 3px !important;
    transition: all 0.3s;
    border-radius: 2px;
    cursor: pointer;
  }

  &__item--checkbox input[type=checkbox]:hover+&__politic::before {
    outline-color: #AF9B26 !important;
  }

  &__item--checkbox input[type=checkbox]:checked+&__politic::before {
    background-image: url(../img/icon-checkbox-on.svg);
    outline-color: #FFDF6D !important;

  }

  @media (max-width: 1275px) {
    &__item {
      width: 100%;
    }
    &__item--btn {
      order: 10;
    }
    &__politic a {
      display: initial;
    }
  }
}