.header {
  background-color: #fff;
  color: #4A4A4A;
  padding: 10px 0 14px;
  animation-name: show-header;
  animation-duration: 0.4s;
  position: fixed;
  width: 100%;
  transition: all 0.3s;
  top: 0;
  z-index: 100;
  border: 1px solid transparent;


  &__wrap {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__logo {
    width: 88px;
    position: relative;

  }

  &__logo-link {
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;
    position: absolute;
    top: -22px;
    left: 0;
    text-decoration: none;
    z-index: 5;

    &::after {
      content: "";
      width: 90px;
      height: 90px;
      display: block;
      position: absolute;
      z-index: 0;
      top: -1px;
      left: -1px;
      border-radius: 50%;
      background: transparent;
      transition: all 0.2s;
    }

  }

  &__logo-wrapper {
    background-color: #fff;
    position: relative;
    z-index: 5;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu {
    flex-grow: 2;
    margin-left: 10px;
  }

  &__tel {
    color: #374818;
    transition: all 0.3s;
    max-width: 152px;
    width: 100%;
    text-align: right;
  }

  &__btn {
    max-width: 145px;
    width: 100%;

    .btn {
      font-family: 'Inter', sans-serif;
      width: 100%;
      font-size: 14px;
      color: #91C137;
      padding: 8px 14px;
      background-color: #FFFFFF;
      border: 1px solid #91C137;
      box-shadow: none;
      border-radius: 16px;
      text-transform: lowercase;
      transition: all 0.3s;
      min-height: 32px;
      transform: none;

      &:hover {
        background-color: #91C137;
        color: #ffffff;
      }
    }
  }

  &__menu-btn {
    display: none;
  }

  @media (max-width: 1300px) {
    padding: 12px 0 12px;

    &__wrap {
      padding: 0 48px;
    }

    &__menu {
      display: none;
    }

    &__tel {
      margin-left: auto;
    }

    &__menu-btn {
      display: block;

      .btn--menu {
        font-family: 'Inter', sans-serif;
        min-height: 32px;
        display: flex;
        gap: 16px;
        align-items: center;
        font-size: 14px;
        text-transform: lowercase;
        padding: 8px 16px;
        box-shadow: none;
        transform: none;
        border: none;

        &:hover {
          background-color: #91C137;
          border-color: #91C137;
        }
      }

    }
  }

  @media (max-width: 768px) {
    &__wrap {
      padding: 0 40px;
    }
  }

  @media (max-width: 650px) {
    &__wrap {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__btn {
      display: none;
    }

    &__logo {
      width: 60px;
    }

    &__logo-link {
      width: 60px;
      height: 60px;
      top: -24px;
      left: -6px;
    }

    &__logo-wrapper {
      width: 60px;
      height: 60px;
      padding: 5px;
    }

    &__logo svg {
      width: 50px;
      height: 50px;
    }

    &__logo-link::after {
      width: 62px;
      height: 62px;
    }
  }

  @media (max-width: 360px) {
    &__tel {
      display: none;
    }

    &__menu-btn {
      margin-left: auto;
    }
  }

}