.production {
  padding: 70px 0 77px;
  background-color: #FBFAF8;

  &__content {
    display: grid;
    gap: 30px 32px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 36px;
  }

  &__sert {
    grid-row: span 2;
  }

  &__label {
    padding-top: 16px;
  }

  &__details {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #4A4A4A;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .label-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    a {
      display: block;
      max-width: max-content;
      margin: 0 auto;
    }


    svg {

      path {
        transition: all 0.3s;
      }
    }

    a:hover {
      svg {

        path {
          fill: #0580F2;
        }

        .clear {
          fill: #fff;
        }

        .color-fill {
          fill: #0580F2;
        }

        .color-stroke {
          stroke: #0580F2;
        }
      }
    }
  }

  @media (max-width: 1145px) {
    &__content {
      grid-template-columns: auto 1fr;
      margin-bottom: 40px;
    }

    .production__sert {
      grid-row: initial;
    }

    .label-list {
      display: grid;
      justify-content: flex-start;
      gap: 49px 16px;
    }

    &__details {
      grid-column: 1 / 3;
    }
  }

  @media (max-width: 1023px) {
    &__sert {
      a {
        display: block;
        max-width: max-content;
        margin: 0 auto;
      }

    }

    &__content {
      grid-template-columns: 1fr;
    }

    &__details {
      grid-column: initial;
    }
  }



  @media (max-width: 768px) {
    padding: 55px 0 60px;
  }

  @media (max-width: 720px) {
    .production__content {
      margin-bottom: 11px;
    }
    .section-footer {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
  }
}