.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.swiper-button-next,
.swiper-button-prev {
  border: none;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: all 0.3s;
  top: 45.5%;

  svg path {
    transition: all 0.3s;
  }

  &:hover {
    background-color: #91C137;

    svg path {
      stroke: #ffffff;
    }

    svg .cust {
      stroke: none;
      fill: #ffffff;
    }
  }

  &:after {
    display: none;
  }

  @media (max-width: 650px) {
    width: 60px;
    height: 60px;
  }
}