@media (max-width: 650px) {
  .header__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__btn {
    display: none;
  }

  .header__logo {
    width: 60px;
  }

  .header__logo .logo {
    width: 60px;
    height: 60px;
    top: -24px;
    left: -6px;
  }

  .header__logo .logo__wrapper {
    width: 60px;
    height: 60px;
    padding: 5px;
  }

  .header__logo .logo svg {
    width: 50px;
    height: 50px;
  }

  .header__logo .logo::after {
    width: 62px;
    height: 62px;
  }

  .mobile-menu__link {
    font-size: 16px;
    padding: 24px 20px;

    &::after {
      width: calc(100% - 40px);
      left: 20px;
    }

  }

  .mobile-menu {
    padding-top: 55px;
    min-width: 365px;
  }

  .mobile-menu__footer {
    margin: 40px 0;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
  }

  .mobile-menu__btn {
    .btn {
      background-color: #ffffff;
      color: #91C137;
      box-shadow: none;
      transition: all 0.3s;
      border-color: #91C137;

      &:hover {
        background-color: #91C137;
        color: #fff;
        border-color: #91C137;
      }
    }
  }

  .mobile-menu__tel {
    a {
      font-size: 20px;
    }
  }

  .first {
    background-position: top -30px center;
    // background-image: url(../img/bg-1-991.jpg);
  }

  .first .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-head__subtitle {
    font-size: 14px;
  }
  .section-head__title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .first__text {
    font-size: 14px;
  }

  .btn {
    padding: 23px 40px;
    min-height: 63px;
  }
}